<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title layout:title-pattern="$CONTENT_TITLE | Todo">
        Todo
    </title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <th:block layout:fragment="css"></th:block>
</head>

<body>

<header class="header">
    <div class="container">
        <h1>
            <a th:href="@{/}">
                Todo App
            </a>
        </h1>

        <nav>
            <ul>
                <li><a th:href="@{/}">홈</a></li>
                <li><a th:href="@{/todos}">할 일 목록</a></li>
                <li><a th:href="@{/todos/new}">할 일 추가</a></li>
            </ul>
        </nav>
    </div>
</header>

<footer>
    <div class="container">
        <p>&copy; 2026 Todo App</p>
    </div>
</footer>

<main class="container">

    <div layout:fragment="content">
        페이지 내용
    </div>

</main>


<!--<script th:src="@{/js/main.js}"></script>-->

<!--<th:block layout:fragment="script"></th:block>-->

</body>
</html>