<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">

<head>
    <title>Todo 목록</title>

    <link rel="stylesheet" th:href="@{/css/todo.css}">
</head>

<body>

<div layout:fragment="content">

    <h2>Todo 목록</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>제목</th>
        </tr>

        <tr th:each="todo : ${todos}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.isCompleted()}"></td>
        </tr>
    </table>

</div>

</body>
</html>